body {
  background: url("../imagen/fondo.jpg");
  background-size: cover;
}
.rombo {
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../imagen/login-logo.webp");
  background-size: cover;
  background-position: center;
}

form {
  width: 30%;
}

form button {
  background-color: #b80e65 !important;
  border-color: #b80e65 !important;
  color: #f2f2f2 !important;
}

.linea {
  height: 2px;
  background-color: #b80e65;
  margin-top: 30px;
  border-radius: 2px;
  opacity: 0.5;
  margin-bottom: 30px;
}

canvas {
  display: block;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#btn-facebook {
  background: #3b5998 !important;
  border-color: #3b5998 !important;
}

#btn-google {
  background: white !important;
  border-color: white !important;
}

#btn-google span {
  color: #db4a39;
}

.columns {
  display: flex !important;
}

@media screen and (max-width: 769px) {
  form {
    width: initial;
  }
}


.user{
 font-size: 2rem !important;

}